# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage*
.pytest_cache/
htmlcov/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env
.venv
venv/
env/
ENV/
.env.bak/
venv.bak/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Type checker caches
.mypy_cache/
.pyre/
.pytype/

# OS-specific files
.DS_Store
Thumbs.db

# Redis / Celery artifacts
celerybeat-schedule

# Logs
*.log
log/
logs/

# Local data dumps
*.sqlite3
*.db
data/manaus_sdc_example.xlsx
data/oni_sdc_results_example.xlsx
pyrightconfig.json
